.px-4 {
  background-color: skyblue;
}

.form-group {
 text-align: left;

}

.container {
        width: 800px;
        background-color: skyblue;
    }
.titleheading{
  background-color: "blue";
}
 h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
    text-align: center;
}

body{
   font-family: "Roboto", serif;
}

input{
  font-family: "Roboto", serif;
}

label{
  font-family: "Roboto", serif;
}

p {
    text-align: left;
}
